body {
    margin: 0;
    font-family: 'Fjalla One', 'Nunito', sans-serif;
}

.mainpage {
}

.mainpage_header {
    background: #FFFBF6;
    display: grid;
    align-items: center;
    color: #BB4430;
    padding:1rem;
    width: 100vw;
    font-size: 30px;
    height:8vh;
    display:flex;
}

.classmenu {
    height:85vh;
    background: #EFE6DD;
    float:left;
    min-width: 25%;
        overflow-y:auto;
    border-top-right-radius: 5rem;

}

.note {
    background: #FFFFFF;
}

.yellowbutton {
    background: #F3DFA2;

}

.gamebutton {
    background: #BB4430;

}