* {
    display: flex;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Nunito', sans-serif;
}

header {
    background: #FFFBF6;
    color:#BB4430;
}

menu {
    background: #EFE6DD;
}

.note{
    background:#FFFFFF;
}

.yellowbutton
{
    background:#F3DFA2;

}
.gamebutton{
    background:#BB4430;

}