.header {
    padding: 0.5rem;
    background-color: #fffbf6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    left: -50;
  }
  
  .logo {
    width: 55px;
    height: auto;
    margin-right: 0.5rem;
  }
  
  .app-title {
    margin: 0;
    font-family: "Fjalla One", sans-serif;
    font-size: 2.5rem;
    color: #bb4430;
  }
  
  .signup-login-button {
    margin-left: auto;
    border-radius: 50px;
    background-color: #bb4430;
    border-color: #bb4430;
    font-family: "Nunito", sans-serif;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  
  .signup-login-button:hover,
  .signup-login-button:focus {
    background-color: #fffbf6;
    border-color: #bb4430;
    color: #bb4430;
  }
  
  .signup-login-button:active {
    background-color: #7EBDC2 !important;
    border-color: #7EBDC2 !important;
  }
  