.taskContents {
  width: 80%;
  text-align: start;
  align-items: center;
  display: flex;
  margin-left: 5px;
}

.checkbox {
  width: 20%;
}

.task {
  display: flex;
  background-color: #eee6dd;
  height: fit-content;
  border-bottom: 0.2px dotted #000;
  margin-top: 5px;
  margin-bottom: 2px;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}
.task:hover {
  box-shadow: 0px 8px 10px -10px rgba(0, 0, 0, 0.5);
}

.ticked {
  opacity: 0.5;
}
.deleteIcon {
  transition: transform 0.3s;
}

.deleteIcon:hover {
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
  transform: scale(1.2);
  cursor: pointer;
}

.PrivateSwitchBase-input,
.css-1m9pwf3 {
  position: absolute !important;
  left: 100% !important;
  top: 0 !important;
}
