body {
    margin: 0;
    font-family: 'Fjalla One', 'Nunito', sans-serif;
}

.mainpage_header {
    position: fixed;
    background: #FFFBF6;
    display: grid;
    align-items: center;
    color: #BB4430;
    width: 100vw;
    padding: 4px;
    font-size: 44px;
    height: 50px;
    display: flex;
}


.sidenav {
    position: absolute;
    transition: all 0.3s ease-in-out;
    height: calc(100vh - 65px);
    background: #EFE6DD;
    float: left;
    width: 300px;
    left: -250px;
    overflow-y: auto;
    border-top-right-radius: 20px;
    padding: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sidenav h1,
noteTitleStyle {
    font-family: 'Nunito', sans-serif;
    color: #4f4f4f;
    size: 30px
}

.noteClassStyle {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    border: none;
}

.noteTitleStyle {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    border: none;
}

.noteTitleStyle:focus,
.noteClassStyle:focus {
    outline: none;
}

.navButton {
    position: absolute;
    right: 0px;
    display: block;
    background: none;
    border: none;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    opacity: 70%;
}

.navButton img {
    height: 60px;
    padding: 20px;
}

.sidenav.open {
    left: 0;
}

.sidenav.open .navButton {
    -webkit-transform: scaleX(+1);
    transform: scaleX(+1);
}

.note {
    background: #FFFFFF;
    width: (100% - 300px);
    height: calc(100vh-65px);
    margin-left: 80px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.sidenav.open+.note {
    /*width: 100%;*/
    margin-left: 320px;
}


.newClassButton {
    background: #F3DFA2;
    border-radius: 30px;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.newClassButton:hover {
    background: #f8e7b4;
    cursor: pointer;
}

.newNoteButton {
    background: #F3DFA2;
    border-radius: 30px;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    width: 230px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;

}

.newNoteButton:hover {
    background: #f8e7b4;
    cursor: pointer;
}

.sideNavButtonDiv {
    display: flex;
    justify-content: center;
}

.sidenav li {
    list-style-type: none;
}

.classButton {
    color: #949292;
    background: NONE;
    BORDER: None;
}

.classButton.active {
    color: #2c2c2c;
    background: NONE;
    BORDER: None;
}

.noteButton {
    color: #949292;
    background: NONE;
    BORDER: None;
}

.noteButton.active {
    color: #2c2c2c;
    background: NONE;
    BORDER: None;
}

.classDiv {
    background: #FFFBF6;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    color: #4f4f4f;
    margin-top: 20px;
}