.barContainerStyle {
    height: 30px;
    width: 100%;
    background-color: #e0e0de;
    border-Radius: 50;
    margin: 50;
    position: absolute;
    bottom: 0;
}

.fillingContainerStyle {
    height: 100%;
    background-color: #e9d08d;
    border-Radius: inherit;
    text-align: right;
}

.completeButton {
    height: 80%;
    background-color: #55420d;
    border-Radius: 10px;
    z-index: 100;
    color: beige;
    right: 0px;
    margin-left: 5px;
    margin-right: 5px;
    top: 4px;
    position: absolute;
    border-style: none;
}

.completeButton:hover {
    background-color: #6d603d;
}