.modalShareWrapper {
    position: absolute;
    top: 170px;
    right: 10px;
    display: none;
}

.modalShareWrapper.open {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8e7b4;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modalShareWrapper h1 {
    font-family: 'Nunito', sans-serif;
    font-size:15px;
}

.modalShareWrapper .error {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color:#bb4430;
}

.modalShareWrapper h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    margin: none;
}

.shareHeader {
    display: flex;
    justify-content: space-between;
}

.shareEmail {
    display: flex;
    align-items: center;
}

.modalShareWrapper hr {
    margin: 0px !important;
    width: 40%;
    color: #bb4430;
}

.emailShareButton {
    margin: 10px;
    background-color: #bb4430;
    border-radius: 200px;
    border: none;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #FFFBF6;
    font-size: 24px;

}

.redButton{
margin: 10px;
    background-color: #bb4430;
    border-radius: 200px;
    border: none;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #FFFBF6;
    height:min-content;
    font-size: 14px;
}

.emailShareButton:hover {
    background-color: #c75642;

}

.copyButton {
    margin: 5px;
    background-color: #bb4430;
    border-radius: 200px;
    border: none;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFBF6;
    font-size: 19px;

}

.copyButton:hover {
    background-color: #c75642;

}

.shareLinkContent {
    padding: 2px;
    border-radius: 5px;
    background-color: #FFFBF6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display:flex;
    justify-content: space-between;

}

.shareLinkContent input {
    border: 0px;
    border-bottom: 0.1px;
    background-color: transparent;
}

