* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.userComponent {
    display: flex;
}

.users {
    max-width: 30px;
    margin: 10px;
    height: 40px;
    display: flex;
    align-items: flex-end;

}

.users button {
    background-color: #bb4430;
    border-radius: 20px;
    padding: 5px;
    border: none;
    color: #FFFBF6;
    font-size: 15px;
    width: 50px;

}

.users button:hover {

    background-color: #c75642;
}

.deleteUserButton {
    position: relative;
    right: 100%;
    top: -90%;
    width: 90px !important;
    font-size: 10px !important;
    z-index: 10;
}

.ownerButton {
    margin: 5px;
    background-color: #f8e7b4;
    border-radius: 20px;
    padding: 3px 8px;
    /* Adjust the padding as needed */
    border: none;
    color: #694b2c !important;
    font-size: 15px;
    height: 40px
}

.ownerButton:hover::before {
    content: "owner: ";
}