.login-page {
    background-image: url('./background.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: white;
    border-radius: 100px;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    text-align: center;
    height: 600px;
  }
  
  .login-title {
    font-family: "Fjalla One", sans-serif;
    font-size: 36px;
    color: #131313;
    margin-bottom: 1.5rem;
  }

  .google-signin-button {
    margin-left: auto;
    border-radius: 50px !important;
    background-color: #F3DFA2 !important;
    border-color: #F3DFA2 !important;
    color: #000000 !important;
    font-family: "Nunito", sans-serif;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    font-size: 18px !important;
  }
  
  .google-signin-button:hover, 
  .google-signin-button:focus{
    background-color: #fffbf6 !important;
    border-color: #bb4430 !important;
    color: #bb4430 !important;
  }

  .google-signin-button:active {
    background-color: #7ebdc2 !important;
    border-color: #7ebdc2 !important;
    color: #ffffff !important;
  }
  