.login-container {
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-card {
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-title {
    margin-bottom: 1rem;
  }